.main{
    display: grid;
}
.first{
    display: flex;
    padding-bottom: 40px;

}
.second{
    display: flex;
    padding-bottom: 40px;
    center
}
.third{
    display: flex;
}
p{
    margin-left: 30px;
    margin-top: 80px;
}